.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.done {
    text-decoration: line-through;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container input {
    padding: 10px 15px 10px 15px;
}

.container button {
    background-color: black;
    padding: 10px 20px 10px 20px;
    color: white;
}

.main-container ul {
    list-style-type: circle;
    padding: 0;
    margin-left: 10px;
}

.main-container ul li {
    font-size: 18px;
}

.main-container ul .done-btn {
    padding: 10px 20px 10px 20px;
    background-color: green;
    color: white;
    border: none;
    margin-left: 10px;
}

.main-container ul .delete-btn {
    color: white;
    background-color: red;
    padding: 10px 20px 10px 20px;
    border: none;
    margin-left: 10px;
}